version: "3.8"
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: my_api_db
    ports:
      - "5435:5432" # Dışarıdan 5435, içeriden 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
